.wrapper {
  width: 80px;
  height: 100vh;
  background-color: var(--accent);
  padding-top: 80px;
  position: relative;
  transition: all .2s ease;
  overflow-x: hidden;

  .body {
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease;

  }

  .body * {
    white-space: nowrap !important;
  }
}

.wrapper.active {
  width: 300px;

  .body {
    opacity: 1;
    visibility: visible;
  }

  // .body * {
  //   white-space: wrap !important;
  // }
}