.flex {
    display: flex;
}

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-centered-v {
    display: flex;
    align-items: center;
}

.flex-centered-h {
    display: flex;
    justify-content: center;
}

.flex-valign-middle {
    align-items: center;
}

.scrollbar-h {
    
}
.scrollbar-v {
    
}
